<% if Redmine::AuthShib.enabled? %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "login", :plugin => "redmine_auth_shib" %>
<% end %>

<div id="shib-login">
  <%= link_to image_tag("eduid.png", :plugin => "redmine_auth_shib"), {:controller => "account", :action => "login_with_shib_redirect", :provider => "shib"}%>
</div>

<% end %>
